---
import { Image } from "astro:assets";
import portrait from "../assets/home-offer-portrait.png";
---

<section class="owner-callout" id="about">
  <div class="owner-inner">
    <a href="/contact" class="btn-primary">Call Us Today</a>
    <div class="owner-photo">
      <Image
        src={portrait}
        alt="Manny Pachano, Owner and Developer at PeakRanking Digital Solutions"
        width={280}
        height={280}
        sizes="140px"
        loading="lazy"
        decoding="async"
        quality={82}
        class="owner-photo-img"
      />
    </div>
    <div class="owner-name">Manny Pachano</div>
    <div class="owner-role">Owner, Developer</div>
  </div>
</section>
